<div class="app-container">
        <aside class="app-sidebar">
        <ul class="sidebar-menu">
            <li class="sidebar-section">
                <button class="sidebar-dropdown-btn" data-bs-toggle="collapse" data-bs-target="#sidebarinventario">
                    <span class="sidebar-icon"></i></span>
                    Control de inventario
                    <span class="sidebar-caret"></i><i class="bi bi-chevron-down"></i></span>
                </button>
                <ul class="collapse sidebar-dropdown-list" id="sidebarinventario">
                    <li class="sidebar-link" tabindex="0">Estatus de inventario en proceso</li>
                </ul>
            </li>
            <li class="sidebar-section">
                <button class="sidebar-dropdown-btn" data-bs-toggle="collapse" data-bs-target="#sidebarresultados">
                    <span class="sidebar-icon"></i></span>
                    Consultar resultados 
                    <span class="sidebar-caret"></i><i class="bi bi-chevron-down"></i></span>
                </button>
                <ul class="collapse sidebar-dropdown-list" id="sidebarresultados">
                    <li class="sidebar-link" tabindex="0">Consultar cantidad consumida de produccion SMT</li>
                </ul>
            </li>
            <li class="sidebar-section">
                <button class="sidebar-dropdown-btn" data-bs-toggle="collapse" data-bs-target="#sidebarMaquinasSMT">
                    <span class="sidebar-icon"></i></span>
                    Historial de maquinas SMT
                    <span class="sidebar-caret"></i><i class="bi bi-chevron-down"></i></span>
                </button>
                <ul class="collapse sidebar-dropdown-list" id="sidebarMaquinasSMT">
                    <li class="sidebar-link" tabindex="0">Historial de maquina SPI</li>
                    <li class="sidebar-link" tabindex="0">Consultar % de Oper. direct</li>
                    <li class="sidebar-link" tabindex="0">Historial de maquina AOI</li>
                    <li class="sidebar-link" tabindex="0">Historial de % de Oper. direct</li>
                    <li class="sidebar-link" tabindex="0">SMT AOI 3times defect history</li>
                </ul>
            </li>
            <li class="sidebar-section">
                <button class="sidebar-dropdown-btn" data-bs-toggle="collapse" data-bs-target="#sidebarMaquinascalidad">
                    <span class="sidebar-icon"></i></span>
                    Historial de maquinas calidad
                    <span class="sidebar-caret"></i><i class="bi bi-chevron-down"></i></span>
                </button>
                <ul class="collapse sidebar-dropdown-list" id="sidebarMaquinascalidad">
                    <li class="sidebar-link" tabindex="0">Historial de maquina EOL</li>
                    <li class="sidebar-link" tabindex="0">Historial de maquina ICT</li>
                    <li class="sidebar-link" tabindex="0">Historial de maquina MCU</li>
                    <li class="sidebar-link" tabindex="0">Historial de maquina de TOUCH</li>
                </ul>
            </li>
            <li class="sidebar-section">
                <button class="sidebar-dropdown-btn" data-bs-toggle="collapse" data-bs-target="#sidebarotrasmaquinas">
                    <span class="sidebar-icon"></i></span>
                    Historial de otras maquinas
                    <span class="sidebar-caret"></i><i class="bi bi-chevron-down"></i></span>
                </button>
                <ul class="collapse sidebar-dropdown-list" id="sidebarotrasmaquinas">
                    <li class="sidebar-link" tabindex="0">Historial de maquina de temperatura y humedad</li>
                </ul>
            </li>
        </ul>
    </aside>

        <div class="overlay"></div>

        <main class="app-content"> 
        </main>
    </div>