<div class="app-container">
        <aside class="app-sidebar">
        <ul class="sidebar-menu">
            <li class="sidebar-section">
                <button class="sidebar-dropdown-btn" data-bs-toggle="collapse" data-bs-target="#sidebarMaterial">
                    <span class="sidebar-icon"></i></span>
                    Administración de usuario
                    <span class="sidebar-caret"><i class="bi bi-chevron-down"></i></span>
                </button>
                <ul class="collapse sidebar-dropdown-list" id="sidebarMaterial">
                    <li class="sidebar-link" tabindex="0">Administración de usuario</li>
                    <li class="sidebar-link" tabindex="0">Administración de menu</li>
                    <li class="sidebar-link" tabindex="0">Administración de autoridad</li>
                    <li class="sidebar-link" tabindex="0">Control de lista de codigo</li>
                    <li class="sidebar-link" tabindex="0">Administracion de itinerario</li>
                    <li class="sidebar-link" tabindex="0">Consultar licencias</li>
                </ul>
            </li>
            <li class="sidebar-section">
                <button class="sidebar-dropdown-btn" data-bs-toggle="collapse" data-bs-target="#sidebarMSL">
                    <span class="sidebar-icon"></i></span>
                    Control de Proceso
                    <span class="sidebar-caret"><i class="bi bi-chevron-down"></i></span>
                </button>
                <ul class="collapse sidebar-dropdown-list" id="sidebarMSL">
                    <li class="sidebar-link" tabindex="0">Control de departamento</li>
                    <li class="sidebar-link" tabindex="0">Control de proceso</li>
                    <li class="sidebar-link" tabindex="0">Control de orden de proceso</li>
                    <li class="sidebar-link" tabindex="0">Control de orden de proceso</li>
                    <li class="sidebar-link" tabindex="0">Control de defecto por proceso</li>
                    <li class="sidebar-link" tabindex="0">Control de interfaces de maquina</li>
                    <li class="sidebar-link" tabindex="0">Control de interlock de maquina en linea</li>   
                </ul>
            </li>
            <li class="sidebar-section">
                <button class="sidebar-dropdown-btn" data-bs-toggle="collapse" data-bs-target="#sidebarMaterial2">
                    <span class="sidebar-icon"></i></span>
                    Control de material
                    <span class="sidebar-caret"><i class="bi bi-chevron-down"></i></span>
                </button>
                <ul class="collapse sidebar-dropdown-list" id="sidebarMaterial2">
                    <li class="sidebar-link" tabindex="0">Control de material</li>
                    <li class="sidebar-link" tabindex="0">Configuracion de MSL</li>
                </ul>
            </li>
            <li class="sidebar-section">
                <button class="sidebar-dropdown-btn" data-bs-toggle="collapse" data-bs-target="#sidebarCliente">
                    <span class="sidebar-icon"></i></span>
                    Control de cliente
                    <span class="sidebar-caret"><i class="bi bi-chevron-down"></i></span>
                </button>
                <ul class="collapse sidebar-dropdown-list" id="sidebarCliente">
                    <li class="sidebar-link" tabindex="0">Control de cliente</li>
                    <li class="sidebar-link" tabindex="0">Control de proveedor</li>
                </ul>
            </li>
            <li class="sidebar-section">
                <button class="sidebar-dropdown-btn" data-bs-toggle="collapse" data-bs-target="#sidebarOtros">
                    <span class="sidebar-icon"></i></span>
                    Otros
                    <span class="sidebar-caret"><i class="bi bi-chevron-down"></i></span>
                </button>
                <ul class="collapse sidebar-dropdown-list" id="sidebarOtros">
                    <li class="sidebar-link" tabindex="0">Re-iniciar la seccion</li>
                    <li class="sidebar-link" tabindex="0">Cambio de contrasena</li>
                </ul>
            </li>
        </ul>
    </aside>

        <div class="overlay"></div>

        <main class="app-content"> 
        </main>
    </div>
