 <div class="app-container">
        <aside class="app-sidebar">
        <ul class="sidebar-menu">
            <li class="sidebar-section">
                <button class="sidebar-dropdown-btn" data-bs-toggle="collapse" data-bs-target="#sidebarTracking">
                    <span class="sidebar-icon"></i></span>
                    Product Tracking
                    <span class="sidebar-caret"><i class="bi bi-chevron-down"></i></span>
                </button>
                <ul class="collapse sidebar-dropdown-list" id="sidebarTracking">
                    <li class="sidebar-link" tabindex="0">Production Tracking By Process</li>
                    <li class="sidebar-link" tabindex="0">Using material By Product S/N</li>
                </ul>
            </li>
            <li class="sidebar-section">
                <button class="sidebar-dropdown-btn" data-bs-toggle="collapse" data-bs-target="#sidebarDefectINF">
                    <span class="sidebar-icon"></i></span>
                    Defect information
                    <span class="sidebar-caret"><i class="bi bi-chevron-down"></i></span>
                </button>
                <ul class="collapse sidebar-dropdown-list" id="sidebarDefectINF">
                    <li class="sidebar-link" tabindex="0">Monthly Defect Aggregation</li>   
                </ul>
            </li>
            <li class="sidebar-section">
                <button class="sidebar-dropdown-btn" data-bs-toggle="collapse" data-bs-target="#sidebarMonitoring">
                    <span class="sidebar-icon"></i></span>
                    Monitoreo 
                    <span class="sidebar-caret"><i class="bi bi-chevron-down"></i></span>
                </button>
                <ul class="collapse sidebar-dropdown-list" id="sidebarMonitoring">
                    <li class="sidebar-link" tabindex="0">Total Monitoreo</li>
                    <li class="sidebar-link" tabindex="0">Monitoreo de temperatura y humedad</li>
                </ul>
            </li>
        </ul>
    </aside>

        <div class="overlay"></div>

        <main class="app-content"> 
        </main>
    </div>

